<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../sources/img/profile.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title mt-3">Perfil de usuario</h5>
                    <p class="card-text my-5">Vusualice y modifique sus datos dentro de la plataforma</p>
                    <a href="" ui-sref="main.profileUser" class="btn btn-primary">Ver perfil de usuario</a>
                </div>
            </div>
        </div>
    
    
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../sources/img/hotel.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title mt-3">Perfil de los hoteles</h5>
                    <p class="card-text my-5">Vusualice y modifique sus datos dentro de la plataforma</p>
                    <a href="" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../sources/img/bigIcon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title mt-3">Perfil de vehiculos</h5>
                    <p class="card-text my-5">Vusualice y modifique sus datos dentro de la plataforma</p>
                    <a href="" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>