// Tipografía de la aplicación
@font-face {
    font-family: 'montserrat';
    src: url("./fonts/Montserrat_Thin.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: 'montserrat';
    src: url("./fonts/Montserrat_ExtraLight.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: 'montserrat';
    src: url("./fonts/Montserrat_Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: 'montserrat';
    src: url("./fonts/Montserrat_Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: 'montserrat';
    src: url("./fonts/Montserrat_SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: 'montserrat';
    src: url("./fonts/Montserrat_Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: 'montserrat';
    src: url("./fonts/Montserrat_Black.ttf");
    font-weight: 900;
  }
  
  // VARIABLES
  
  $typho: 'montserrat';
  $colorPrimary : rgb(251, 184, 3);
  $backUpOrange : rgb(223, 116, 0);
  $backUpYellow : rgb(255, 225, 0);
  $overlay-gradient : linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
  $trasparent : rgba(31, 31, 31, 0.0);
  $black : rgb(31, 31, 31);
  $white: rgb(255, 255, 255);